# Test to connect a Jupyter Notebook to Spark on my MacBook
Christoph Windheuser    
March 18, 2022    
    
WORKS ON MY MacBOOK!!

In [3]:
import findspark
import pyspark

findspark.init()
sc = pyspark.SparkContext(appName="name")

In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import avg

spark = (SparkSession
.builder
.appName("AuthorsAges")
.getOrCreate())

data_df = spark.createDataFrame([("Brooke", 20), ("Denny", 31), ("Jules", 30),
("TD", 35), ("Brooke", 25)], ["name", "age"])

avg_df = data_df.groupBy("name").agg(avg("age"))

avg_df.show()

+------+--------+
|  name|avg(age)|
+------+--------+
|Brooke|    22.5|
| Denny|    31.0|
| Jules|    30.0|
|    TD|    35.0|
+------+--------+